* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background: rgba(0,0,0,0.7);
    padding: 15px 30px;
    display: flex;AC
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: white;
    margin: 0;
    font-size: 22px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* CARD */
.card {
    background: white;
    width: 350px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    margin: 80px auto;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.link {
    margin-top: 15px;
    font-size: 14px;
}

.link a {
    color: #0072ff;
    text-decoration: none;
    font-weight: bold;
}

/* PAGE CONTENT */
.container {
    padding: 40px;
    text-align: center;
    color: white;
}
